<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="org.palladiosimulator.retriever.extraction.discoverers.csv"
		name="CSV Discoverer"
		point="org.palladiosimulator.retriever.services.discoverer">
		<discoverer
			class="org.palladiosimulator.retriever.extraction.discoverers.CsvDiscoverer">
		</discoverer>
	</extension>
	<extension
		id="org.palladiosimulator.retriever.extraction.discoverers.java"
		name="Java Discoverer"
		point="org.palladiosimulator.retriever.services.discoverer">
		<discoverer
			class="org.palladiosimulator.retriever.extraction.discoverers.JavaDiscoverer">
		</discoverer>
	</extension>
	<extension
		id="org.palladiosimulator.retriever.extraction.discoverers.json"
		name="JSON Discoverer"
		point="org.palladiosimulator.retriever.services.discoverer">
		<discoverer
			class="org.palladiosimulator.retriever.extraction.discoverers.JsonDiscoverer">
		</discoverer>
	</extension>
	<extension
		id="org.palladiosimulator.retriever.extraction.discoverers.xml"
		name="XML Discoverer"
		point="org.palladiosimulator.retriever.services.discoverer">
		<discoverer
			class="org.palladiosimulator.retriever.extraction.discoverers.XmlDiscoverer">
		</discoverer>
	</extension>
	<extension
		id="org.palladiosimulator.retriever.extraction.discoverers.yaml"
		name="YAML Discoverer"
		point="org.palladiosimulator.retriever.services.discoverer">
		<discoverer
			class="org.palladiosimulator.retriever.extraction.discoverers.YamlDiscoverer">
		</discoverer>
	</extension>
	<extension
		id="org.palladiosimulator.retriever.extraction.discoverers.properties"
		name=".properties Discoverer"
		point="org.palladiosimulator.retriever.services.discoverer">
		<discoverer
			class="org.palladiosimulator.retriever.extraction.discoverers.PropertiesDiscoverer">
		</discoverer>
	</extension>
	<extension
		id="org.palladiosimulator.retriever.extraction.discoverers.ecmascript"
		name="ECMAScript Discoverer"
		point="org.palladiosimulator.retriever.services.discoverer">
		<discoverer
			class="org.palladiosimulator.retriever.extraction.discoverers.EcmaScriptDiscoverer">
		</discoverer>
	</extension>
 <extension
       id="org.palladiosimulator.retriever.extraction.discoverers.docker"
       name="Dockerfile Discoverer"
       point="org.palladiosimulator.retriever.services.discoverer">
    <discoverer
          class="org.palladiosimulator.retriever.extraction.discoverers.DockerfileDiscoverer">
    </discoverer>
 </extension>

</plugin>
